.btns {
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    .checkbox {
        margin-right: 10px;
    }

    .item {
        width: 100%;
        padding: 10px;
        border: 1px dashed #ccc;
        margin-bottom: 10px;
    }
}